body {
  background-image: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.26) 22.8%,
    rgba(253, 122, 4, 0.05) 64.6%
  );

  font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrap {
  max-width: 700px;
  margin: 130px auto;
}

.weather-app {
  padding: 30px;
  padding-bottom: 25px;
  border: 0px solid rgb(147, 98, 147);
  border-radius: 8px;
  background-color: rgba(122, 72, 137, 0.12);

  box-shadow: 0 30px 40px rgba(82, 31, 73, 0.18);
}

.inside-border {
  border: 1.2px solid rgba(168, 123, 168, 0.8);
  border-radius: 5px;
  padding: 30px;
}
