.weather-forecast {
  margin-top: 25px;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  box-shadow: 10px 10px 15px rgba(82, 31, 73, 0.18);
  border-radius: 7px;
  padding: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  color: #89739f;
}

.weather-forecast .date {
  font-weight: 100;
  color: black;
}

.weather-forecast .min-temp-forecast {
  opacity: 0.6;
}
